/*
Forms

Styleguide 2.9
*/

// Colour variables used used in this component.
$form-control-border: $color-hecuba !default;

.form-control {
  padding: 15px 1.5rem 15px;;
  border: 1px solid $form-control-border;
  border-radius: 0;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-email {
  display: block;
  margin-top: 0.25rem;
}

@mixin make-inline-form {
  fieldset {
    display: inline-block;
    input {
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
  .button {
    display: inline-block;
    vertical-align: top;
    @include media-breakpoint-down(md) {
      display: block;
      margin: 0 auto;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}
